@font-face {
  font-family: 'averia-libre';
  src: url('/assets/fonts/averia-libre.ttf');
}

:root {
  --bg-cyan: #8FE1D9;
  --text-blue: #419ED7;
  --btn-blue: #419ED7;
}

body {
  font-family: 'averia-libre';
  margin: 0;
  padding: 0;
  background-image: url('/assets/images/vaccine-background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

body:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.48) 46.4%, rgba(255, 255, 255, 0) 100%);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-cyan);
  height: 87px;
  align-items: center;
}

.header .logo {
  display: flex;
  font-weight: 400;
  font-size: 48px;
  line-height: 57px;
  text-decoration: none;
  color: var(--text-blue);
  margin-left: 20px;
}

.header .logo > img {
  margin-right: 20px;
}

.button {
  text-decoration: none;
  box-sizing: border-box;
  background-color: var(--btn-blue);
  color: white;
  padding: 10px 20px;
  border: 1px solid var(--btn-blue);
}

.shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  margin: 10px;
}

main {
  display: flex;
  flex-direction: row;
  background: linear-gradient(179.55deg, rgba(255, 255, 255, 0.24) 15.85%, rgba(255, 255, 255, 0.48) 40.1%, rgba(255, 255, 255, 0) 68.12%);
}

.main-home {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-section {
}

section > .section-title {
  font-size: 64px;
  color: var(--text-blue);
}

section > .section-button {

}